@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&family=JetBrains+Mono:wght@400;500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-zinc-950 text-zinc-100 font-sans antialiased;
  }
  
  h1, h2, h3, h4, h5, h6 {
    @apply font-medium tracking-tight;
  }
}

/* Custom Scrollbar for the HUD feel */
::-webkit-scrollbar {
  width: 6px;
  background: #050505;
}

::-webkit-scrollbar-thumb {
  background: #333;
  border-radius: 0px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
